<!-- <p style="margin-top: 180px;height: 1000px">
 FOOTER WORKs
 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed sit ea dolorum est, aspernatur natus, fugiat earum commodi ab dicta culpa possimus voluptates excepturi debitis nam! Illo delectus nostrum perferendis.
</p> -->

<footer class="footer">
    <div class="footer_logo-box">
        <i class="footer_logo_icon icon-basic-lightbulb"></i>
        Business Solutions
    </div>
    <div class="row">
        <div class="col-1-of-2">
            <div class="footer_navigation">
                <ul class="footer__list">
                    <li class="footer_item">
                        <a href="" class="footer_link"> Company </a>
                    </li>
                    <li class="footer_item">
                        <a href="" class="footer_link"> Contact us </a>
                    </li>
                    <li class="footer_item">
                        <a href="" class="footer_link"> Careers </a>
                    </li>
                    <li class="footer_item">
                        <a href="" class="footer_link"> Privacy policy</a>
                    </li>
                    <li class="footer_item">
                        <a href="" class="footer_link"> Terms </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-1-of-2">
            <p class="footer_copyright">
                Built By <a href="" class="footer_link"> someone </a>
                for this online course <a href="" class="footer_link"> Advanced CSS</a>
                Copyright credits John Schnedtman.
            </p>
        </div>
    </div>
</footer>
