<!-- <section>
  <div class="row">
    <div class="col-1-of-2">
      Col 1 of 2
    </div>
    <div class="col-1-of-2">
      Col 1 of 2
    </div>
  </div>

  <div class="row">
    <div class="col-1-of-3">
      Col 1 of 3
    </div>
    <div class="col-1-of-3">
      Col 1 of 3
    </div>
    <div class="col-1-of-3">
      Col 1 of 3
    </div>
  </div>

  <div class="row">
    <div class="col-1-of-3">
      Col 1 of 3
    </div>
    <div class="col-2-of-3">
      Col 2 of 3
    </div>
  </div>

  <div class="row">
    <div class="col-1-of-4">
      Col 1 of 4
    </div>
    <div class="col-1-of-4">
      Col 1 of 4
    </div>
    <div class="col-1-of-4">
      Col 1 of 4
    </div>
    <div class="col-1-of-4">
      Col 1 of 4
    </div>
  </div>

  <div class="row">
    <div class="col-1-of-4">
      Col 1 of 4
    </div>
    <div class="col-1-of-4">
      Col 1 of 4
    </div>
    <div class="col-2-of-4">
      Col 2 of 4
    </div>
  </div>

  <div class="row">
    <div class="col-1-of-4">
      Col 1 of 4
    </div>
    <div class="col-3-of-4">
      Col 3 of 4
    </div>
  </div>

</section> -->

<section class="section-about">
  <div class="u-center-text u-margin-bottom-80">
      <h2 class="heading-secondary">
          How it works
        </h2>
  </div>

  <div class="row">
      <div class="col-1-of-4">

        <div class="feature-box">
            <i class="feature-box_icon icon-basic-todolist-pencil"></i>
            <h3>
              Get <br> Registered
            </h3>
            <p class="feature-box_text">
              Once you register your accout will be sent to get an approval by the admin.
            </p>
        </div>
       
      </div>
      <div class="col-1-of-4">
           
        <div class="feature-box">
            <i class="feature-box_icon icon-basic-postcard-multiple"></i>
            <h3>
              Post Requirements
            </h3>
            <p class="feature-box_text">
              Once you are a member you would be able to post/see requirements made by other companies.
            </p>
        </div>

      </div>
      <div class="col-1-of-4">
      
           
          <div class="feature-box">
              <i class="feature-box_icon icon-basic-compass"></i>
              <h3>
                Explore Opportunities
              </h3>
              <p class="feature-box_text">
                You would also be able to add your own engineers in the market and also explore the one's you would need
              </p>
          </div>
        
      </div>
      <div class="col-1-of-4">
       
           
          <div class="feature-box">
              <i class="feature-box_icon icon-basic-rss"></i>
              <h3>
                Interact and close deals
              </h3>
              <p class="feature-box_text">
                You can interact with company owners and engineers and asign them projects
              </p>
          </div>

      </div>
    </div>
</section>
