<div class="navigation1">
  <input type="checkbox" class="navigation1_checkbox" id="navi-toggle">
  <label for="navi-toggle" class="navigation1_button">
    <span class="navigation1_icon">
      
    </span>
  </label>
  <div class="navigation1_background">&nbsp;</div>
  
  <nav class="navigation1_nav">
    <ul class="navigation1_list">
      <li class="navigation1_item">
        <a href="#" class="navigation1_link"> <span>01</span> Home </a>
      </li>
      <li class="navigation1_item">
        <a href="#" class="navigation1_link"> <span>02</span> Login </a>
      </li>
    </ul>
  </nav>
</div>

<div class="clearfix" >
<app-signup></app-signup>
<app-features></app-features>
<app-footer></app-footer>
</div>
<!-- 

<router-outlet></router-outlet> -->
