<div class="navigation">
  <input type="checkbox" class="navigation_checkbox" id="navi-toggle">
  <label for="navi-toggle" class="navigation_button">
    <span class="navigation_icon">
      
    </span>
  </label>
  <div class="navigation_background">&nbsp;</div>
  
  <nav class="navigation_nav">
    <ul class="navigation_list">
      <li class="navigation_item">
        <a href="#" class="navigation_link"> <span>01</span> Home </a>
      </li>
      <li class="navigation_item">
        <a href="#" class="navigation_link"> <span>02</span> Login </a>
      </li>
    </ul>
  </nav>
</div>

<app-signup></app-signup>
<app-features></app-features>
<app-footer></app-footer>
<!-- 

<router-outlet></router-outlet> -->
