// FONTS AND TEXTS 
.heading-primary{

    color: #fff;
    text-transform: uppercase;
    margin-bottom: 6rem;
    // margin-top: 2rem;
    display: block;


    &-main {
        display: inline-block;
        margin-top: 7rem;
        font-size: 4.5rem;
        font-weight: 400;
        letter-spacing: .5rem;
        animation-name: moveInLeft;
        animation-duration: 5s;
    }
    
    &-sub {
    
        display: block;
        font-weight: 900;
        letter-spacing: .3rem;
        animation-name: moveInRight;
        animation-duration: 5s;
        margin-bottom: 10rem;
      }
    
}

.heading-secondary {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right,$color-primary,$color-secondary);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing:  .2rem;
    transition: all .2s;
    margin-bottom: 2.5rem;
    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba(black, .2);

    }
}